USE Master
GO
if exists
   (SELECT Name FROM sys.Databases where name ='Community_Assist')
   BEGIN
   DROP Database Community_Assist
   END
Go
CREATE DATABASE Community_Assist
Go

USE [Community_Assist]
GO
/****** Object:  XmlSchemaCollection [dbo].[ReviewNotesSchema]    Script Date: 4/25/2016 2:40:39 PM ******/
CREATE XML SCHEMA COLLECTION [dbo].[ReviewNotesSchema] AS N'<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:t="http://www.community_assist.org/reviewnotes" targetNamespace="http://www.community_assist.org/reviewnotes" elementFormDefault="qualified"><xsd:element name="reviewnote"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="comment" type="xsd:anyType" /><xsd:element name="concerns"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="concern" type="xsd:anyType" maxOccurs="unbounded" /></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element><xsd:element name="recommendation" type="xsd:string" /></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:schema>'
GO
/****** Object:  UserDefinedFunction [dbo].[fx_GetSeed]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fx_GetSeed]()
returns int
As
Begin
Declare @dateconcat nvarchar(20)
Declare @hour nchar(2)
Declare @minute nchar(2)
Declare @second nchar(2)
Declare @millesecond nchar(3)

Set @hour=Cast(DatePart(hour, GetDate()) as nchar(2))
if (len(@Hour)<2) set @hour=@hour + '0'

Set @minute=Cast(DatePart(hour, GetDate()) as nchar(2))
if (len(@minute)<2) set @minute=@minute + '0'

Set @second=Cast(DatePart(hour, GetDate()) as nchar(2))
if (len(@second)<2) set @second=@second + '0'

set @millesecond=Cast(Datepart(ms,GetDate())as nchar(3))

set @DateConcat=@hour+@minute+@second+@millesecond
return cast(@DateConcat as int)
End

GO
/****** Object:  UserDefinedFunction [dbo].[fx_HashPassword]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create function [dbo].[fx_HashPassword]
(@seed int, @password nvarchar(50))
returns varbinary(500)
As
Begin
Declare @ToHash nvarchar(70)
Set @ToHash=@password + cast(@seed as nvarchar(20))
Declare @hashed varbinary(500)
set @hashed=hashbytes('sha2_512',@ToHash)
return @hashed
End

GO
/****** Object:  Table [dbo].[BusinessRule]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessRule](
	[BusinessRuleKey] [int] IDENTITY(1,1) NOT NULL,
	[BusinessRuleText] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BusinessRuleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactKey] [int] IDENTITY(1,1) NOT NULL,
	[ContactNumber] [nvarchar](255) NOT NULL,
	[ContactTypeKey] [int] NULL,
	[PersonKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactType]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactType](
	[ContactTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[ContactTypeName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Donation]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[DonationKey] [int] IDENTITY(1,1) NOT NULL,
	[PersonKey] [int] NULL,
	[DonationDate] [datetime] NOT NULL,
	[DonationAmount] [money] NOT NULL,
	[DonationConfirmation] [uniqueidentifier] NULL DEFAULT (newid()),
PRIMARY KEY CLUSTERED 
(
	[DonationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeKey] [int] IDENTITY(1,1) NOT NULL,
	[PersonKey] [int] NULL,
	[EmployeeHireDate] [date] NOT NULL,
	[EmployeeAnnualSalary] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeePosition]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePosition](
	[PositionKey] [int] NOT NULL,
	[EmployeeKey] [int] NOT NULL,
 CONSTRAINT [PK_EmployeePosition] PRIMARY KEY CLUSTERED 
(
	[PositionKey] ASC,
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GrantRequest]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrantRequest](
	[GrantRequestKey] [int] IDENTITY(1,1) NOT NULL,
	[GrantRequestDate] [datetime] NOT NULL,
	[PersonKey] [int] NULL,
	[GrantTypeKey] [int] NULL,
	[GrantRequestExplanation] [nvarchar](255) NULL,
	[GrantRequestAmount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[GrantRequestKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GrantReview]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrantReview](
	[GrantReviewKey] [int] IDENTITY(1,1) NOT NULL,
	[GrantReviewDate] [datetime] NOT NULL,
	[GrantRequestKey] [int] NULL,
	[GrantRequestStatus] [nvarchar](50) NULL,
	[GrantAllocationAmount] [money] NULL,
	[EmployeeKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GrantReviewKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GrantReviewComment]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrantReviewComment](
	[GrantReviewCommentKey] [int] IDENTITY(1,1) NOT NULL,
	[GrantReviewKey] [int] NULL,
	[EmployeeKey] [int] NULL,
	[GrantReviewCommentDate] [datetime] NOT NULL,
	[GrantReviewNote] [xml](CONTENT [dbo].[ReviewNotesSchema]) NULL,
PRIMARY KEY CLUSTERED 
(
	[GrantReviewCommentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GrantType]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrantType](
	[GrantTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[GrantTypeName] [nvarchar](255) NULL,
	[GrantTypeMaximum] [money] NOT NULL,
	[GrantTypeLifetimeMaximum] [money] NOT NULL,
	[GrantTypeDescription] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GrantTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginHistoryTable]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistoryTable](
	[LoginHistoryKey] [int] IDENTITY(1,1) NOT NULL,
	[PersonKey] [int] NULL,
	[LoginTimeStamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginHistoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Person](
	[PersonKey] [int] IDENTITY(1,1) NOT NULL,
	[PersonLastName] [nvarchar](255) NOT NULL,
	[PersonFirstName] [nvarchar](255) NULL,
	[PersonEmail] [nvarchar](255) NULL,
	[PersonPassWord] [varbinary](500) NULL,
	[PersonEntryDate] [datetime] NOT NULL,
	[PersonPassWordSeed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PersonAddress]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonAddress](
	[PersonAddressKey] [int] IDENTITY(1,1) NOT NULL,
	[PersonAddressApt] [nvarchar](255) NULL,
	[PersonAddressStreet] [nvarchar](255) NULL,
	[PersonAddressCity] [nvarchar](255) NULL DEFAULT ('Seattle'),
	[PersonAddressState] [nvarchar](255) NULL DEFAULT ('WA'),
	[PersonAddressZip] [nvarchar](255) NULL,
	[PersonKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonAddressKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionKey] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](255) NULL,
	[PositionDescription] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BusinessRule] ON 

GO
INSERT [dbo].[BusinessRule] ([BusinessRuleKey], [BusinessRuleText]) VALUES (1, N'All Requests must be reviewed by an employee within 48 hours of entry')
GO
INSERT [dbo].[BusinessRule] ([BusinessRuleKey], [BusinessRuleText]) VALUES (2, N'No individual grant can be greated than the Service Maximum')
GO
INSERT [dbo].[BusinessRule] ([BusinessRuleKey], [BusinessRuleText]) VALUES (3, N'No individual can recieve more than the lifetime maximum in total grants for a particular service')
GO
SET IDENTITY_INSERT [dbo].[BusinessRule] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

GO
INSERT [dbo].[Contact] ([ContactKey], [ContactNumber], [ContactTypeKey], [PersonKey]) VALUES (1, N'2065551234', 1, 1)
GO
INSERT [dbo].[Contact] ([ContactKey], [ContactNumber], [ContactTypeKey], [PersonKey]) VALUES (2, N'2065552345', 1, 2)
GO
INSERT [dbo].[Contact] ([ContactKey], [ContactNumber], [ContactTypeKey], [PersonKey]) VALUES (3, N'3605551234', 3, 2)
GO
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactType] ON 

GO
INSERT [dbo].[ContactType] ([ContactTypeKey], [ContactTypeName]) VALUES (1, N'Home Phone')
GO
INSERT [dbo].[ContactType] ([ContactTypeKey], [ContactTypeName]) VALUES (2, N'Work Phone')
GO
INSERT [dbo].[ContactType] ([ContactTypeKey], [ContactTypeName]) VALUES (3, N'Cell Phone')
GO
SET IDENTITY_INSERT [dbo].[ContactType] OFF
GO
SET IDENTITY_INSERT [dbo].[Donation] ON 

GO
INSERT [dbo].[Donation] ([DonationKey], [PersonKey], [DonationDate], [DonationAmount], [DonationConfirmation]) VALUES (1, 51, CAST(N'2015-08-09 10:02:44.220' AS DateTime), 157.5000, N'2dcde384-2463-4f07-b12b-96db142d9339')
GO
INSERT [dbo].[Donation] ([DonationKey], [PersonKey], [DonationDate], [DonationAmount], [DonationConfirmation]) VALUES (2, 53, CAST(N'2015-08-09 10:02:44.220' AS DateTime), 157.5000, N'0e5f230d-ffc2-40a2-ac6b-868543b81f20')
GO
INSERT [dbo].[Donation] ([DonationKey], [PersonKey], [DonationDate], [DonationAmount], [DonationConfirmation]) VALUES (3, 3, CAST(N'2015-08-09 10:02:44.220' AS DateTime), 500.0000, N'2cbaa8f3-a2e7-4699-9e53-bee2dd481a1f')
GO
SET IDENTITY_INSERT [dbo].[Donation] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

GO
INSERT [dbo].[Employee] ([EmployeeKey], [PersonKey], [EmployeeHireDate], [EmployeeAnnualSalary]) VALUES (1, 5, CAST(N'2005-02-21' AS Date), 65000.0000)
GO
INSERT [dbo].[Employee] ([EmployeeKey], [PersonKey], [EmployeeHireDate], [EmployeeAnnualSalary]) VALUES (2, 12, CAST(N'2006-05-05' AS Date), 60151.4000)
GO
INSERT [dbo].[Employee] ([EmployeeKey], [PersonKey], [EmployeeHireDate], [EmployeeAnnualSalary]) VALUES (3, 18, CAST(N'2007-03-10' AS Date), 0.0000)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[EmployeePosition] ([PositionKey], [EmployeeKey]) VALUES (1, 1)
GO
INSERT [dbo].[EmployeePosition] ([PositionKey], [EmployeeKey]) VALUES (2, 1)
GO
INSERT [dbo].[EmployeePosition] ([PositionKey], [EmployeeKey]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[GrantRequest] ON 

GO
INSERT [dbo].[GrantRequest] ([GrantRequestKey], [GrantRequestDate], [PersonKey], [GrantTypeKey], [GrantRequestExplanation], [GrantRequestAmount]) VALUES (2, CAST(N'2015-08-09 15:44:13.000' AS DateTime), 4, 1, N'We have two children and are running low of money for groceries this month', 75.0000)
GO
INSERT [dbo].[GrantRequest] ([GrantRequestKey], [GrantRequestDate], [PersonKey], [GrantTypeKey], [GrantRequestExplanation], [GrantRequestAmount]) VALUES (3, CAST(N'2015-08-09 15:44:13.000' AS DateTime), 14, 3, N'We can''t afford childcare this month, but need to use it if we are going to work', 180.0000)
GO
INSERT [dbo].[GrantRequest] ([GrantRequestKey], [GrantRequestDate], [PersonKey], [GrantTypeKey], [GrantRequestExplanation], [GrantRequestAmount]) VALUES (4, CAST(N'2015-08-09 15:44:13.000' AS DateTime), 27, 7, N'Our Utilities bills have been extra high this month because of the excessive heat', 300.0000)
GO
SET IDENTITY_INSERT [dbo].[GrantRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[GrantReview] ON 

GO
INSERT [dbo].[GrantReview] ([GrantReviewKey], [GrantReviewDate], [GrantRequestKey], [GrantRequestStatus], [GrantAllocationAmount], [EmployeeKey]) VALUES (2, CAST(N'2015-08-10 00:00:00.000' AS DateTime), 2, N'approved', 180.0000, 6)
GO
INSERT [dbo].[GrantReview] ([GrantReviewKey], [GrantReviewDate], [GrantRequestKey], [GrantRequestStatus], [GrantAllocationAmount], [EmployeeKey]) VALUES (3, CAST(N'2015-08-10 00:00:00.000' AS DateTime), 3, N'denied', 300.0000, 2)
GO
INSERT [dbo].[GrantReview] ([GrantReviewKey], [GrantReviewDate], [GrantRequestKey], [GrantRequestStatus], [GrantAllocationAmount], [EmployeeKey]) VALUES (4, CAST(N'2015-08-10 00:00:00.000' AS DateTime), 4, N'approved', 75.0000, 6)
GO
SET IDENTITY_INSERT [dbo].[GrantReview] OFF
GO
SET IDENTITY_INSERT [dbo].[GrantReviewComment] ON 

GO
INSERT [dbo].[GrantReviewComment] ([GrantReviewCommentKey], [GrantReviewKey], [EmployeeKey], [GrantReviewCommentDate], [GrantReviewNote]) VALUES (1, 3, 5, CAST(N'2013-08-11 00:00:00.000' AS DateTime), N'<reviewnote xmlns="http://www.community_assist.org/reviewnotes"><comment>This is a continuing request. We need to make sure they find other funds</comment><concerns><concern>We can''t continue to pay these requests</concern><concern>We have counciled them, but it hasn'' helped</concern></concerns><recommendation>Deny</recommendation></reviewnote>')
GO
INSERT [dbo].[GrantReviewComment] ([GrantReviewCommentKey], [GrantReviewKey], [EmployeeKey], [GrantReviewCommentDate], [GrantReviewNote]) VALUES (2, 3, 5, CAST(N'2013-08-11 00:00:00.000' AS DateTime), N'<reviewnote xmlns="http://www.community_assist.org/reviewnotes"><comment>What other options do they have?</comment><concerns><concern>Do they have other options</concern></concerns><recommendation>Deny</recommendation></reviewnote>')
GO
INSERT [dbo].[GrantReviewComment] ([GrantReviewCommentKey], [GrantReviewKey], [EmployeeKey], [GrantReviewCommentDate], [GrantReviewNote]) VALUES (3, 10, 5, CAST(N'2013-08-11 00:00:00.000' AS DateTime), N'<reviewnote xmlns="http://www.community_assist.org/reviewnotes"><comment>Other funds are available</comment><concerns><concern>Better funding options</concern></concerns><recommendation>Deny</recommendation></reviewnote>')
GO
SET IDENTITY_INSERT [dbo].[GrantReviewComment] OFF
GO
SET IDENTITY_INSERT [dbo].[GrantType] ON 

GO
INSERT [dbo].[GrantType] ([GrantTypeKey], [GrantTypeName], [GrantTypeMaximum], [GrantTypeLifetimeMaximum], [GrantTypeDescription]) VALUES (1, N'Food', 200.0000, 1000.0000, N'assistance for purchasing groceries')
GO
INSERT [dbo].[GrantType] ([GrantTypeKey], [GrantTypeName], [GrantTypeMaximum], [GrantTypeLifetimeMaximum], [GrantTypeDescription]) VALUES (2, N'Rent', 900.0000, 2700.0000, N'assistance for monthly Rent payments')
GO
INSERT [dbo].[GrantType] ([GrantTypeKey], [GrantTypeName], [GrantTypeMaximum], [GrantTypeLifetimeMaximum], [GrantTypeDescription]) VALUES (3, N'Child care', 300.0000, 1000.0000, N'assistance for childcare expenses')
GO
SET IDENTITY_INSERT [dbo].[GrantType] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginHistoryTable] ON 

GO
INSERT [dbo].[LoginHistoryTable] ([LoginHistoryKey], [PersonKey], [LoginTimeStamp]) VALUES (1, 8, CAST(N'2016-02-07 14:43:14.367' AS DateTime))
GO
INSERT [dbo].[LoginHistoryTable] ([LoginHistoryKey], [PersonKey], [LoginTimeStamp]) VALUES (2, 41, CAST(N'2016-02-07 14:45:38.530' AS DateTime))
GO
INSERT [dbo].[LoginHistoryTable] ([LoginHistoryKey], [PersonKey], [LoginTimeStamp]) VALUES (3, 3, CAST(N'2016-02-14 10:54:40.883' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoginHistoryTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

GO
INSERT [dbo].[Person] ([PersonKey], [PersonLastName], [PersonFirstName], [PersonEmail], [PersonPassWord], [PersonEntryDate], [PersonPassWordSeed]) VALUES (1, N'Anderson', N'Jay', N'JAnderson@gmail.com', 0x193B2D14F98BCFB4CD6636C9427ABE36ADE4A24816A1B0E46F6D9A3398590CEBFD4916D800F0F3789432D21619E8A618BA135EE54F3408B7336C0F47997C1449, CAST(N'2013-08-09 00:00:00.000' AS DateTime), 5595738)
GO
INSERT [dbo].[Person] ([PersonKey], [PersonLastName], [PersonFirstName], [PersonEmail], [PersonPassWord], [PersonEntryDate], [PersonPassWordSeed]) VALUES (2, N'Zimmerman', N'Toby', N'TZimmerman@gmail.com', 0xCD7647163152599BC358D449D0232934CA7C1F9F5F6640F92D4C2EE123A1BEBD36B6FBF5CD73D6B66FCA58D0DD797F866DE0D18832D6C5BFA402DEAB07AD858D, CAST(N'2013-08-09 00:00:00.000' AS DateTime), 4123155)
GO
INSERT [dbo].[Person] ([PersonKey], [PersonLastName], [PersonFirstName], [PersonEmail], [PersonPassWord], [PersonEntryDate], [PersonPassWordSeed]) VALUES (3, N'Mann', N'Louis', N'LMann@gmail.com', 0x834F8D18672B2DC58FC2BDA587047EADA59AC32F92EBDA708FF8BAA68CAC4A024CC2726CAC55FDE7079F6781C8D3F9D19EA525A99C5D4565CF022EA8E0BE9411, CAST(N'2013-08-09 00:00:00.000' AS DateTime), 7352400)
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonAddress] ON 

GO
INSERT [dbo].[PersonAddress] ([PersonAddressKey], [PersonAddressApt], [PersonAddressStreet], [PersonAddressCity], [PersonAddressState], [PersonAddressZip], [PersonKey]) VALUES (1, NULL, N'100 South Mann Street', N'Seattle', N'WA', N'98001', 1)
GO
INSERT [dbo].[PersonAddress] ([PersonAddressKey], [PersonAddressApt], [PersonAddressStreet], [PersonAddressCity], [PersonAddressState], [PersonAddressZip], [PersonKey]) VALUES (2, N'205A', N'328 Norh Division Blvd', N'Seattle', N'WA', N'98001', 2)
GO
INSERT [dbo].[PersonAddress] ([PersonAddressKey], [PersonAddressApt], [PersonAddressStreet], [PersonAddressCity], [PersonAddressState], [PersonAddressZip], [PersonKey]) VALUES (3, N'Suite 756', N'110 4th Avenue', N'Seattle', N'WA', N'98002', 3)
GO
SET IDENTITY_INSERT [dbo].[PersonAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

GO
INSERT [dbo].[Position] ([PositionKey], [PositionName], [PositionDescription]) VALUES (1, N'Manager', N'Manages basic office and personel')
GO
INSERT [dbo].[Position] ([PositionKey], [PositionName], [PositionDescription]) VALUES (2, N'Web Donation Supervisor', N'Researches and Confirms donations')
GO
INSERT [dbo].[Position] ([PositionKey], [PositionName], [PositionDescription]) VALUES (3, N'Donation Manager', N'Helps confirm and research donations')
GO
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [unique_email]    Script Date: 4/25/2016 2:40:39 PM ******/
ALTER TABLE [dbo].[Person] ADD  CONSTRAINT [unique_email] UNIQUE NONCLUSTERED 
(
	[PersonEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([ContactTypeKey])
REFERENCES [dbo].[ContactType] ([ContactTypeKey])
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([PersonKey])
REFERENCES [dbo].[Person] ([PersonKey])
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD FOREIGN KEY([PersonKey])
REFERENCES [dbo].[Person] ([PersonKey])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([PersonKey])
REFERENCES [dbo].[Person] ([PersonKey])
GO
ALTER TABLE [dbo].[EmployeePosition]  WITH CHECK ADD FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[Employee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[EmployeePosition]  WITH CHECK ADD FOREIGN KEY([PositionKey])
REFERENCES [dbo].[Position] ([PositionKey])
GO
ALTER TABLE [dbo].[GrantRequest]  WITH CHECK ADD FOREIGN KEY([GrantTypeKey])
REFERENCES [dbo].[GrantType] ([GrantTypeKey])
GO
ALTER TABLE [dbo].[GrantRequest]  WITH CHECK ADD FOREIGN KEY([PersonKey])
REFERENCES [dbo].[Person] ([PersonKey])
GO
ALTER TABLE [dbo].[GrantReview]  WITH CHECK ADD FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[Employee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[GrantReview]  WITH CHECK ADD FOREIGN KEY([GrantRequestKey])
REFERENCES [dbo].[GrantRequest] ([GrantRequestKey])
GO
ALTER TABLE [dbo].[GrantReviewComment]  WITH CHECK ADD FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[Employee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[GrantReviewComment]  WITH CHECK ADD  CONSTRAINT [Fk_GrantReview] FOREIGN KEY([GrantReviewKey])
REFERENCES [dbo].[GrantReview] ([GrantReviewKey])
GO
ALTER TABLE [dbo].[GrantReviewComment] CHECK CONSTRAINT [Fk_GrantReview]
GO
ALTER TABLE [dbo].[LoginHistoryTable]  WITH CHECK ADD FOREIGN KEY([PersonKey])
REFERENCES [dbo].[Person] ([PersonKey])
GO
ALTER TABLE [dbo].[PersonAddress]  WITH CHECK ADD FOREIGN KEY([PersonKey])
REFERENCES [dbo].[Person] ([PersonKey])
GO
/****** Object:  StoredProcedure [dbo].[usp_AddRequest]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[usp_AddRequest]
@GrantType int,
@GrantRequestExplantion nvarchar(255),
@GrantRequestAmount money,
@personKey int
As
Declare @Date DateTime =GetDate()
Insert into GrantRequest
(
GrantRequestDate, 
PersonKey, 
GrantTypeKey, 
GrantRequestExplanation, 
GrantRequestAmount)
Values
(
@date,
@personKey,
@GrantType,
@GrantRequestExplantion,
@GrantRequestAmount
)
GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[usp_Login]
@Email nvarchar(255),
@password nvarchar(50)
As
--get the random seed
Declare @seed int
Declare @personKey int
Select @PersonKey=PersonKey,@seed = PersonPassWordSeed from Person
Where PersonEmail=@Email
--get the hashed password from the database
Declare @DBHash varbinary(500)
Select @DbHash = PersonPassword from Person
Where PersonEmail=@Email
--create a new hash based on the seed and password
Declare @newHash varbinary(500)
Set @newHash=dbo.fx_HashPassword(@seed, @password)
if @DbHash=@newHash
Begin
print 'Login successful'
--get PersonKey
Insert into LoginHistoryTable(PersonKey, LoginTimeStamp)
Values(@PersonKey, GetDate())
Return @PersonKey
End
else
Begin
print 'login unsuccessful'
return -1
End

GO
/****** Object:  StoredProcedure [dbo].[usp_Register]    Script Date: 4/25/2016 2:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[usp_Register]
@lastname nvarchar(255),
@firstname nvarchar(255),
@email nvarchar(255),
@password nvarchar(50),
@ApartmentNumber Nvarchar(255) =null,
@Street nvarchar(255),
@City nvarchar(255)='Seattle',
@State nchar(2)='WA',
@Zipcode nvarchar(11),
@HomePhone nvarchar(13) = null,
@WorkPhone nvarchar(13) = null
As
--check to make sure person doesn't exit
If not exists
   (Select PersonKey
      From Person
	  Where PersonLastName=@LastName
	  And PersonFirstName=@FirstName
	  And PersonEmail = @Email)
Begin--begin the block of if not exists
--get seed and hash the password
Declare @Seed int
Set @Seed = dbo.fx_GetSeed()
Declare @hash varbinary(500)
set @hash=dbo.fx_HashPassword(@seed,@Password)
--begin the transaction
Begin tran
--begin the try catch
Begin Try
--insert into tables
Insert into Person
(
   PersonLastName, 
   PersonFirstName, 
   PersonEmail, 
   PersonPassWord, 
   PersonEntryDate, 
   PersonPassWordSeed
)
Values
(
   @LastName,
   @FirstName,
   @Email,
   @hash,
   getDate(),
   @seed
)
--get the current person key
Declare @PersonKey int
Set @PersonKey=IDENT_CURRENT('Person')
Insert into PersonAddress
(
   PersonAddressApt, 
   PersonAddressStreet, 
   PersonAddressCity, 
   PersonAddressState, 
   PersonAddressZip, 
   PersonKey
)
Values
(
   @ApartmentNumber,
   @Street,
   @City,
   @State,
   @Zipcode,
   @PersonKey
)

if @homePhone is not null
  Begin
    Insert into Contact
    (
       ContactNumber, 
       ContactTypeKey, 
       PersonKey
    )
    Values
    (
       @HomePhone,
	   1,
	   @PersonKey
    )
  End
if @WorkPhone is not null
  Begin
     Insert into Contact
    (
       ContactNumber, 
       ContactTypeKey, 
       PersonKey
    )
    Values
    (
       @WorkPhone,
	   2,
	   @PersonKey
    )
  End
  Commit tran
End try
Begin Catch
Rollback tran
Return -1
End catch
End
Else
Begin
Return -1
End
GO
